combat
django==4.2
goatools
harmony-pytorch
harmonypy
hdbscan
leidenalg
pandas
plotly
scanpy
scikit-learn==1.3.2
matplotlib
umap-learn
bs4
celery
redis
django_cleanup
kaleido
threadpoolctl
rnanorm
django-simple-captcha
stabilized-ica
decoupler
git+https://github.com/ncaptier/sica-omics
econml
jwt
