{% extends 'base.html' %}

{% block body %}
<style>
  #loader{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index:99999;
  background:url(/static/loading12.gif) 50% 50% no-repeat rgb(15 10 10 /59%);
  background-size:200px;
  }
</style>

<div id='loader' style='display:none'></div>
<div id='cID' style='display:none'>{{ clientID }}</div>
<h4>ORA report:</h4>
<div id="tabs_advanced" style='width:1800px;'>
<br>
<button id="downloadBtn" class="btn btn-primary" onclick="download();">Download Full Data</button>

<!-- DataTable -->
<table id="oraTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Group</th>
            <th>Reference</th>
            <th>Names</th>
            <th>P-Value</th>
            <th>Adjusted P-Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in root.df %}
        <tr>
            <td>{{ row.group }}</td>
            <td>{{ row.reference }}</td>
            <td>{{ row.names }}</td>
            <td>{{ row.pvals }}</td>
            <td>{{ row.pvals_adj }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<label for="threshold">Set Threshold for pval_adj:  </label>
<input type="number" id="threshold" name="threshold" value="0.05" step="0.001" min="0" max="1" required>
<br><br>
<button class="btn btn-primary" onclick="runORADE();">Run DE plot</button>
<div style='display:none' id='oraPlot'>
    <a id='graphDiv11A' href="..." target="_blank" download="image.svg" style="display: block;">Download Image</a>
    <div id="graphDiv11" class="rotated no-break" style="width:1300px; overflow-x:scroll; overflow-y:scroll;"></div>
</div>
</div>


<script>
$( function() {
    //$(document).tooltip();
    $('#oraTable').DataTable({
        pageLength: 5,            // Display 10 records per page
        lengthMenu: [5, 10, 20],
        columnDefs: [
            {
                targets: [3, 4], // Columns to format (0-based index)
                render: function(data, type, row) {
                    return parseFloat(data).toExponential(3); // Scientific notation with 3 decimals
                }
            }
        ]
    });
});
clientUniqueID= '{{ root.cID }}';
group = '{{ root.group }}';
$('#oraPlot').hide();
function download(){
    window.location.href = '?cID={{ root.cID }}';
}
function runORADE()
{
    thre=$('#threshold').val();
    url1='DE/?threshold='+thre+'&group={{root.group}}&cID={{ root.cID }}';
    $('#graphDiv11').html('');
	$('#graphDiv11A').attr('href','...');
    $.ajax({
			url:url1,
			dataType:'json',
			cache:false,
			contentType:false,
			processData:false,
			type:'get',
			async:true,
			beforeSend:function(){
			$('#loader').show();
			},
			complete:function(){
			$('#loader').hide();
			},
			success:function(response){
				$('.btn').attr('disabled',false);
				$('#oraPlot').show();
				$('#graphDiv11A').attr('href','data:image/svg+xml;base64,'+response.image);
				$('#graphDiv11').html('<img class="img1" src="data:image/svg+xml;base64,'+response.image+'" style="width: 1000px; height: auto;" />');
				$('#graphDiv11 .img1').each(function () {
					wheelzoom(this);
				});	
				
			},
			error:function(response){
				alert(response.responseText);
				$('.btn').attr('disabled',false);
				return;
			}
	});
}

</script>

{% endblock %}
